html,
body {
  height: 100%;
  width: 100%;
}

#app {
  background-color: white;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

label {
  font-size: 14px;
  line-height: 1.29;
}

h1 {
  font-size: 57px;
  line-height: 1.2;
}

h2 {
  font-size: 43px;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

small {
  font-size: 14px;
  line-height: 1.29;
}

a {
  color: red;
}

span{
  font-family: roboto;
}

.header1-dark {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #212125;
}

.header1-light {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #8A9096;
}

.header1-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #4C6EF5;
}

.header2-dark {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #212125;
}

.header2-light {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #8A9096;
}

.header2-link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #4C6EF5;
}

.header3-dark {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #212125;
}

.header3-light {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #8A9096;
}

.header3-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #4C6EF5;
}

.header4-dark {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #212125;
}

.header4-light {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #8A9096;
}

.header4-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #4C6EF5;
}

.header5-dark {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #212125;
}

.header5-light {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #8A9096;
}

.header5-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #4C6EF5;
}

.body1-dark {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #212125;
}

.body1-light {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #8A9096;
}

.body1-link {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #4C6EF5;
}

.body1-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #B5B9BD;
}

.body2-dark {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212125;
}

.body2-light {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #8A9096;
}

.body2-link {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4C6EF5;
}

.body2-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #B5B9BD;
}

.body2-dark {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #212125;
}

.body3-light {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8A9096;
}

.body3-link {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #4C6EF5;
}

.body3-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #B5B9BD;
}

.buttonLarge-primary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.35px;
  color: #FFFFFF;
}

.buttonLarge-secondary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.35px;
  color: #212125;
}

.buttonLarge-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.35px;
  color: #B5B9BD;
}

.buttonLarge-warn {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.35px;
  color: #F03E3E;
}

.buttonMedium-primary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.buttonMedium-secondary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #212125;
}

.buttonMedium-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #B5B9BD;
}

.buttonMedium-warn {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #F03E3E;
}

.buttonSmall-primary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.buttonSmall-secondary {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #212125;
}

.buttonSmall-disabled {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #B5B9BD;
}

.buttonSmall-warn {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #F03E3E;
}


.ant-btn .anticon {
  vertical-align: middle;
}

.form-control .ant-form-item-label label, .data-label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #8a9096;
  margin-top: 10px;
}

.ant-form-item-control-wrapper {
  padding-right: 20px;
}

/* .form-control { */
/*   margin-top: 10px; */
/*   margin-bottom: 10px; */
/* } */

.ant-card {
}

.ant-card + .ant-card {
  margin-top: 20px;
}
