@nv-pri-red: #ba0d2f;
@nv-neutral-900: #212125;
@nv-neutral-800: #343a40;
@nv-neutral-700: #4b5157;
@nv-neutral-600: #8a9096;
@nv-neutral-500: #b5b9bd;
@nv-neutral-400: #d2d5d9;
@nv-neutral-300: #e1e3e6;
@nv-neutral-200: #ebedf0;
@nv-neutral-100: #f1f3f5;
@nv-neutral-050: #f8f9fa;
@nv-brand-1: #63001b;
@nv-brand-2: #8a0725;
@nv-brand-3: #ad1533;
@nv-brand-4: #eb3b67;
@nv-brand-5: #f57d89;
@nv-brand-6: #ffa6ac;
@nv-brand-7: #fcccce;
@nv-brand-8: #fff0f0;
@nv-brand-sec-1: #153773;
@nv-brand-sec-2: #235299;
@nv-brand-sec-3: #3570be;
@nv-brand-sec-4: #5a8fcc;
@nv-brand-sec-5: #82add9;
@nv-brand-sec-6: #aecce6;
@nv-brand-sec-7: #dae6f7;
@nv-brand-sec-8: #f0f9ff;
@nv-blue-1: #4c6ef5;
@nv-blue-2: rgba(76, 110, 245, 0.7);
@nv-blue-3: rgba(76, 110, 245, 0.5);
@nv-blue-4: rgba(76, 110, 245, 0.3);
@nv-blue-5: rgba(76, 110, 245, 0.1);
@nv-green-1: #37b24d;
@nv-green-2: rgba(55, 178, 77, 0.7);
@nv-green-3: rgba(55, 178, 77, 0.5);
@nv-green-4: rgba(55, 178, 77, 0.3);
@nv-green-5: rgba(55, 178, 77, 0.1);
@nv-red-1: #f03e3e;
@nv-red-2: rgba(240, 62, 62, 0.7);
@nv-red-3: rgba(240, 62, 62, 0.5);
@nv-red-4: rgba(240, 62, 62, 0.3);
@nv-red-5: rgba(240, 62, 62, 0.1);
@nv-yellow-1: #ffd43b;
@nv-yellow-2:  rgba(255, 212, 59, 0.7);
@nv-yellow-3:  rgba(255, 212, 59, 0.5);
@nv-yellow-4:  rgba(255, 212, 59, 0.3);
@nv-yellow-5:  rgba(255, 212, 59, 0.1);
@nv-field-name: #8a9096;
@nv-link-blue: #4c6ef5;
@nv-pri-blue: #3570be;
@nv-check-green: #00c853;
@nv-copy-green: #c4edcc;
@nv-background-grey: #f8f9fa"
