.modal-style-confirm {
    && {
      border-radius: 0.3em;
    }
    .ant-modal-body {
      padding-top: 10px;
    }
}

.modal-style-submit {
  && {
    border-radius: 0.3em;
    min-width: 60em;
  }
}

.bg-primary {
  background-color: #4190F7;
}

.bg-success {
  background-color: #70C040;
}

.bg-warning {
  background-color: #EFAF41;
}

.ant-btn-danger {
  color: #fff;
  background-color: #E23C39;
}
