.ant-card-head-title{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-item-style{
  && {
    padding: 0 0 5px;
  }
  && .ant-form-item-required::before {
    content: ''
  }
}
