.filter-container {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  border: .4rem #253746;
  border-left-style: solid;
  background-color: #fff;
  display: inline-block;
  width: calc(100% - 20px);
  border-radius: 2px;
  margin: 10px;
  min-width: 520px;

  .ant-row-flex:first-child > div {
    padding: 10px;
    border-left: 1px #ebebeb solid;

    button {
      color: black;
      border: none;
      box-shadow: none;
    }

    display: flex;
    align-items: center;
  }

  .ant-row-flex:first-child > div:nth-child(2) {
    border-left: none;
  }

  .ant-row-flex + .ant-row-flex {
    border-top: 1px #ebebeb solid;
    padding: 4px;

    & > div {
      margin: 4px;
    }
  }
}
