.generic-job-card {
  border-radius: 0.3em;
  width: 100%;
  min-width: 320px;

  .ant-row-flex {
    margin: 4px 0px;
    padding-left: 0px;
  }

  .job-status {
    font-weight: 500;
    font-size: 110%;
    margin-bottom: 15px;

    .status-icon {
      margin-left: 4px;
    }
  }

  .shipper-name {
    font-size: 110%;
    margin-bottom: 15px;
  }

}
