@bgcolor: #f0f0f1;

.order-edit-main {
  .inner {
    margin: 0 auto;
    width: 80%;
  }
  width: 100%;
  margin: 0 auto 20px;

  .ant-row-flex > .column > .ant-card {
    border-radius: 8px;
  }

  .ant-divider {
    margin: 5px 0;
  }

  .ant-layout-header {
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 10px 6px #e2e2e2;
    line-height: unset;
  }

  .content {
    margin-top: 20px;
  }

  .inner {
    padding: 10px;
  }

  .ant-layout-content {
    padding-top: 100px;
    .column {
      margin-top: 1em;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: transparent;
    border-top: 1px solid 'grey';
    margin: 0;
    padding: 0;
  }
}
