@no-result-color: @nv-neutral-600;
@border-color: #e0e0e0;
@even-row-bg-color: #f5f5f5;
@selected-row-bg-color: #eaf4f9;
@column-mark-bg-color: @nv-yellow-1;
@header-color: #ebebeb;

.virtualized-table {
  &.main-table {
    .table-content-grid {
      .no-result {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: @no-result-color;
      }
    }
  }

  &.fixed-right-table {
    .table-footer {
      width: 100% !important;
      left: 0 !important;

      .footer-content {
        display: none;
      }
    }
  }

  > div {
    outline: none;
  }

  .table-row {
    border-bottom: 1px solid @border-color;

    &.header {
      background-color: @header-color;
      text-transform: none;
    }

    &.even {
      background-color: @even-row-bg-color;
    }

    &.selected {
      background-color: @selected-row-bg-color;
    }

    .table-column-header {
      height: 100%;
      border-right: 1px solid @border-color;
      margin: 0 !important;

      &:last-child {
        border-right: 0;
      }

      .cell {
        height: 100%;
        font-weight: 500;
        vertical-align: middle;
        padding: 5px 10px;
        overflow: hidden;
        text-overflow: ellipsis;

        &._checkbox {
          text-align: center;
        }
      }
    }

    .table-column {
      height: 100%;
      border-right: 1px solid @border-color;
      margin: 0 !important;
  
      &.last-column {
        border-right: 0;
      }
  
      &._checkbox {
        text-align: center;
      }
  
      &._action {
        .cell {
          button {
            margin-right: 4px;
  
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .cell {
        padding: 5px 10px;
        white-space: normal;

        mark.highlight {
          padding: 0;
          background-color: @column-mark-bg-color;
        }
      }
    }
  }
}

.flex-row {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid @border-color;

  .main-table-holder {
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .virtualized-table {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .fixed-right-table-holder {
    display: flex;

    .virtualized-table {
      overflow-x: auto;
      overflow-y: hidden;
      border-left: 3px solid @border-color;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

