.parcel-edit-main {
  .inner {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1000px;
  }
  width: 100%;
  margin: 0 auto 20px;

  .ant-row-flex > .column > .ant-card {
    border-radius: 8px;
  }

  .ant-layout-header {
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 10px 6px @nv-neutral-400;
    line-height: unset;
  }

  .inner {
    padding: 10px;
  }

  .ant-layout-content {
    padding-top: 100px;
    .column {
      margin-top: 1em;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: transparent;
    border-top: 1px solid @nv-neutral-100;
    margin: 0;
    padding: 0;
  }
}
